.blue{
    background-color: dimgray;
    
}
.green { width: 20px;
display: flex;
padding: 10px 20px;
justify-content: center;
border-radius: 2;
border-color: black;
width: 100px;
background-color: grey;
}
.btn{width: 20px;
    display: flex;
    
    padding: 10px 20px;
    justify-content: center;
    
    border-radius: 2;
    border-color: black;
    width: 60px;
    height: 60px;
    background-color: grey;}

    .anterior{display: flex;
        justify-content: space-between; 
       
        padding: 10px 5px; 
        line-height: 1.2; 
        border: none; 
        border-radius: 5px; 
         
        
        font-size: 14px; 
      }
    