
.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
    width: 100%; 
    box-sizing: border-box; 
    justify-content: space-between;
  }
   .logo { height: 100%;}
  
  .header img {
    height: 60px;
    margin-right: 10px;
  }
  